.button {
  border-radius: 5px;
  border: 1px solid burlywood;
  background-color: #4d4d4d;
  color: burlywood;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  background-color: #5f5b5b;
}