.article {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid burlywood;
  padding: 10px;
  border-radius: 10px;
  color: antiquewhite;
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  width: 200px;
  height: 200px;
  line-height: 100px;
}

.title {
  width: 69%;
  height: 50px;
  line-height: 50px;
  font-size: 2rem;
}

.date-elements {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: flex-end;
  align-items: center;
  font-size: smaller;
}

.date-elements p {
  padding: 3px;
}

.text {
  width: 90%;
  text-align: left;
  padding-bottom: 10px;
  font-size: 1.3rem;
}

.actions {
  position: relative;
  right: -16px;
}
